# The Bootstrap

In [119]:
from sklearn.utils import resample
import pandas as pd

In [120]:
loans_income = pd.read_csv("../data/loans_income.csv")
loans_income

            x
0       67000
1       52000
2      100000
3       78762
4       37041
...       ...
49995   40000
49996   54000
49997   50000
49998   82000
49999   70000

[50000 rows x 1 columns]

In [121]:
results = []
for _ in range(1000):
    sample = resample(loans_income)
    results.append(sample["x"].mean())

res_df = pd.Series(results)
res_df

0      68984.70468
1      68554.05230
2      68917.43680
3      68741.45144
4      68891.14240
          ...
995    68715.61296
996    68638.78138
997    68672.90196
998    68486.02984
999    69023.27782
Length: 1000, dtype: float64

In [122]:
print(f"Original median: {loans_income["x"].mean()}")
print(f"Bootstrap method median {res_df.mean()}")
print(f"Bias: {res_df.mean()- loans_income["x"].mean()}")
print(f"Std. Error: {res_df.std()}")

Original median: 68760.51844
Bootstrap method median 68759.29542741999
Bias: -1.223012580012437
Std. Error: 142.5511808485061